<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-carrito.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
        <header id="myHeader"> 
            <section class="lateral-header">
                <img class="Logo" src="images/5.png" alt="Logo">
                <!-- <div class="nft-barra-busqueda">
                    <p class="nft-p-header">NFT</p> 
                    <section class = "barra-busqueda-icono"> 
                        <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
                        <input class = "barra-busqueda" placeholder="Buscar coleccionables y colecciones" type="text"></input>            
                    </section>
                </div> -->
                <!--SOLO PARA VERSIÓN MOBILE-->
                <div class = "caja-flex-mobile">
           

                                <ul class = "primera-lista-mobile">
                               
                                    <li><a class="opciones-lista" href = "tiendas-oficiales.html">Ingresa</a></li>
                                     <li><a class="opciones-lista" href = "vender.html">Registrate</a></li>
                                     <li><div class="burger-menu-mobile">
                                        <i class="fas fa-bars"></i></li>
                                </ul>
   
                       
                            <div class="search">
                               <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                               <button type="submit" class="searchButton">
                                 <i class="fa fa-search"></i>
                              </button>
                            </div>
                         </div>
                           
                <!--SOLO PARA VERSIÓN MOBILE-->
                <div class="nft-barra-busqueda">
                    <div class="search">
                       <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                       <button type="submit" class="searchButton">
                         <i class="fa fa-search"></i>
                      </button>
                    </div>
                 </div>
                
                        <div class="navbar">
                                 <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
                                <ul class="version-escritorio-normal-Marketplace">
                                    <li><a href = ".html">Marketplace</a></li>
                                </ul> 
                                <ul class = "primera-lista">
                                    <li><a href = ".html">Marketplace</a></li>
                                    <li><a href = "tiendas-oficiales.html">Drops</a></li>
                                    <li><a href = "vender.html">Marcas</a></li>
                                    <li><a href = "ayuda.html">Crear</a></i></li>
                                </ul> 
                                <ul class="segunda-lista">
                                    <li id="hola"> <a href = "/register.html">Conectarse</a></li>
                                    <li><a href = "/login.html">Registrarse</a></li> 
                                </ul> 
                                <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
                                <div class="burger-menu">
                                    <i class="fas fa-bars"></i>
                                </div>
                                <!-- <ul class="tercer-lista">
                                    <li id="hola"><a href="/register.html">Español</a></li>
                                </ul> -->
                        </div>    
    
            </section>

        

        <section>
            <h1>Tu carrito</h1>
            <h3 class="total">Total (cantidad de productos)
                Precio.
            </h3>
            <p class="descripcion-carrito"> Los articulos en tu carrito no estan reservados.
                Terminá el proceso de compra ahora para hacerte con 
                ellos.
            </p>
        </section>
    </header>
    <main>
        <section >
            
          <article>
            <div class="nombre-precio-producto">
                <section class="articulo-de-compra">
            <img class="articulo-messi" src="images/the-man-of-the-past-messi_w416.png" alt="articulo nft"> 
            
                <div class="columna-producto">
                    <p > Nombre del producto</p> 
                <p class="descripcion-producto">
                    Descripción del 
                    producto.
                </p>
                <div class="cantidad-producto" >
                    Producto N°1
                </div>
            </div>
            <p class="precio-articulo-1"> Precio</p>

            <div class="cruz">
                <i class="fa-duotone fa-x"></i> 
            </div>
        <div class="corazon">
            <i class="fa-regular fa-heart"></i>
        </div>
    </section>
        <section class="resumen-pedido">
            <h4 class="resumen-del-pedido"> RESUMEN DEL PEDIDO</h4>
            <div class="producto-precio">
               <p class="resumen-pedido-precios"> Producto   Precio</p> 
            </div>
            
            <div class="envio-precio">
            <p class="resumen-pedido-precios"> Costo del envio     Precio</p>
        </div>
        
        <div class="total-precio">
            <p class="resumen-pedido-precios"> TOTAL   Precio</p>
        </div>
        <section>
            <input class="checkout" type="button" value="checkout">
            <div class="flecha-resumen">
            <i class="fa-sharp fa-solid fa-arrow-right"></i>
        </div>
        </section>
        </section>
    </div>
        
</section>
        
    </article>
    <section>
        <div class="titulo-redes">
            <h3>Seguinos en nuestras
                redes sociales!
            </h3>
        </div>
        <div class="facebook">
        <a title="facebook" href="http://www.facebook.com" target="_blank"><img src="images/facebook.jpg" alt="facebook.jpg" /></a>
    </div>
    <div class="instagram">
        <a title="instagram" href="http://www.instagram.com" target="_blank"><img src="images/instagram.jpg" alt="instagram.jpg" /></a>
    </div>
    </section>
    <section>
        <input class = "cod-promocional" placeholder="Introducir codigo promocional" type="text"></input>
        <div class="signo-mas">
        <i class="fa-solid fa-plus"></i>
    </div>
    </section>
        <section >
            <h2 class="recomendaciones">Recomendaciones</h2>
            <div>
            <section class="articulos-recomendaciones">
                <article class="fondo-recomendaciones">
                    <div class="flecha-izquierda">
            <i class="fa-solid fa-arrow-left"></i> 
        </div>
            <img class="articulo-cristiano" src="images/cristiano.jpg" alt="articulo nft"> 
            <p class="descripcion-cristiano">Descripción</p>
        
            <img class="articulo-monkey" src="images/monkey.jpg" alt="articulo nft"> 
            <p class="descripcion-monkey">Descripción</p>
            <div class="flecha-derecha">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>
        </article>
        </section>
        </section>
        <footer>
            <h3 class="opciones-de-pago"> Opciones de pago</h3>
            <div>
                
            <div class="tarjeta-visa"><img class="pagos" src="images/visa.png" alt="tarjeta"></div>
            <div class="tarjeta-master"><img class="pagos" src="images/mastercard.png" alt="tarjeta"></div>
            <div class="tarjeta-american"><img class="pagos" src="images/american-express.png" alt="tarjeta"></div>
            </div>
        </footer>
    </main>
</body>
</html>